.main-header {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  padding-bottom: 1px;

  >.container {
    position: relative;
  }

  &::before {
    content: "";
    background-color: #0D1926;
    opacity: 0.65;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  @include media('>=tablet') {
    height: 412px;
  }

  .main-header__nav {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;

    @include media('>=tablet') {
      padding-top: 30px;
    }

    .main-header__nav__links {
      display: flex;
      flex-direction: column;

      @include media('>=tablet') {
        flex-direction: row;
      }

      a {
        color: #fff;
        font-size: 15px;
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        &:first-of-type {
          margin-right: 30px;
        }

        img {
          margin-right: 10px;
        }
      }
    }
  }

  h1 {
    text-align: center;
    font-size: 42px;
    color: #fff;
    margin-top: 70px;
    margin-bottom: 10px;
  }

  p {
    text-align: center;
    font-size: 24px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 100px;
  }
}

.calculator {
  background: white;
  margin-top: -50px;
  padding: 24px 48px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #E5E5E5;
  position: relative;
  flex-direction: column;

  @include media('>=desktop') {
    flex-direction: row;
  }

  .calculator__car {
    width: 100%;

    @include media('>=desktop') {
      width: 200px;
    }

    @include media('>=1200px') {
      width: 350px;
    }
  }

  .calculator__period {
    width: 100%;

    @include media('>=desktop') {
      width: 180px;
    }
  }

  .calculator__get-price {
    width: 100%;

    @include media('>=desktop') {
      justify-content: flex-end;
      width: 240px;
    }
  }

  >div {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    &:last-of-type {
      margin-bottom: 0;
      margin-top: 5px;

      @include media('>=desktop') {
        margin-top: 0;
      }
    }

    @include media('>=desktop') {
      margin-bottom: 0;
    }
  }

  p {
    font-size: 14px;
    color: #0D1926;
    font-weight: 500;
    margin-bottom: 10px;
  }
}

.calculated-answer__link {
  padding-top: 25px;
  display: flex;
  padding-bottom: 10px;
  padding-left: 52px;
  align-items: center;
  flex-wrap: wrap;

  a {
    margin-bottom: 15px;
  }

  .calc {
    font-size: 16px;
    color: #0d1926;
    letter-spacing: 0.3px;
    margin-right: 15px;
  }

  .button-primary {
    width: auto;
    padding: 7px 10px;
  }
}

.calculated-answer {
  background: #F5F5F5;
  padding-top: 1px;

  .calculated-answer__inner {
    max-width: 796px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 49px;
    flex-direction: column;

    @include media('>=tablet') {
      flex-direction: row;
    }

    .calculated-answer__inner-block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 30px;

      @include media('>=tablet') {
        width: 30%;
        margin-bottom: 0;
      }

      p {
        font-size: 15px;
        font-weight: 500;
        margin-right: 15px;
      }

      h3 {
        font-size: 25px;
        font-weight: 600;
        white-space: nowrap;
      }
    }
  }
}

.contacts-footer {
  margin-top: 80px;
  position: relative;
  background: #F7F7F7;
  overflow: hidden;
  display: flex;

  @include media('>=tablet') {
    min-height: 547px;
  }

  &::before {
    content: " ";
    position: absolute;
    border-top: 310px solid #fff;
    border-left: 100vw solid transparent;
    z-index: 0;
  }

  >.container {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .form-sent {
    text-align: center;
    color: #fff;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 15px;
    background-color: #DB7315;
  }

  .contacts-footer__columns {
    display: flex;
    justify-content: space-between;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    flex-direction: column;

    @include media('>=tablet') {
      flex-direction: row;
    }

    >div {
      width: 100%;
      padding-left: 12px;
      padding-right: 12px;

      @include media('>=tablet') {
        width: 50%;
      }
    }

    .contacts-footer__contact {
      @include media('>=tablet') {
        padding-left: 30px;
      }

      h2 {
        font-size: 26px;
        margin-top: 30px;
        margin-bottom: 30px;
        color: #0D1926;
        line-height: 1.5;
      }

      p {
        line-height: 1.5;
        color: #0D1926;
        opacity: 0.65;
        font-size: 16px;
        margin-bottom: 40px;
      }

      .contacts-footer__contact__details {
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;
        flex-direction: column;

        @include media('>=tablet') {
          flex-direction: row;
        }

        >span {
          display: none;

          @include media('>=tablet') {
            display: block;
            margin-left: 15px;
            margin-right: 15px;
            border-left: 1px solid #707070;
            opacity: 0.2;
          }
        }

        a {
          color: #707070;
          display: flex;
          align-items: center;
          font-size: 17px;

          &:first-of-type {
            margin-bottom: 15px;

            @include media('>=tablet') {
              margin-bottom: 0;
            }
          }

          img {
            margin-right: 10px;
          }

          span {
            font-size: 17px;
          }
        }
      }
    }

    .contacts-footer__form {
      .input-wrap {
        margin-bottom: 13px;
        position: relative;

        img {
          position: absolute;
          top: 17px;
          left: 20px;
        }

        &:last-of-type {
          margin-bottom: 16px;
        }
      }
    }
  }

  .contacts-footer__info {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-direction: column;

    @include media('>=tablet') {
      flex-direction: row;
    }

    p {
      font-size: 13px;
      color: #707070;
      opacity: 0.78;

      &:first-of-type {
        margin-bottom: 30px;

        @include media('>=tablet') {
          margin-bottom: 0;
        }
      }
    }
  }
}

.benefits {
  margin-top: 80px;

  h2 {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
  }

  .benefits__blocks {
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
    flex-direction: column;

    @include media('>=tablet') {
      flex-direction: row;
    }

    .benefits__blocks__benefit {
      width: 100%;
      padding-left: 12px;
      padding-right: 12px;
      margin-bottom: 24px;

      @include media('>=tablet') {
        width: 50%;
      }

      @include media('>=desktop') {
        width: 25%;
      }

      .benefits__blocks__benefit-inner {
        background-image: url('../images/path.svg');
        border: 1px solid #DBDBDB;
        padding: 34px 50px;
        background-repeat: no-repeat;
        background-position: bottom right;
        height: 100%;

        img {
          margin-bottom: 16px;
        }

        h3 {
          font-size: 22px;
          color: #0D1926;
        }
      }
    }
  }
}