*, *::after, *::before {
 padding: 0;
 margin: 0;
 box-sizing: inherit;
 -webkit-tap-highlight-color: transparent;
 outline: unset;
 }

* {
  font-family: "SourceSansPro";
  font-size: 14px;
}

html {
 font-size: 62.5%;
 position: relative;
 min-height: 100%;
}

body {
 box-sizing: border-box;
 min-height: 100%;
}

.img {
 max-width: 100%;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

input, textarea {
  outline: unset;
}

.container {
  max-width: 1190px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

#wpadminbar {
  @include media('<=600px') {
    top: -46px;
  }
}
// a {
//   text-decoration: none;
//   display: inline-block;
// }

// input, textarea {
//   outline: unset;
// }

// p{
//    font-weight: normal;
// }

// main {
//   margin-top: 70px;
// }


[v-cloak] {
  .calculated-answer {
    display: none;
  }
}