.m-l-20 {
 margin-left: 20px;
}

.m-t-50 {
 margin-top: 50px;
}

.m-t-60 {
 margin-top: 60px;
}

.color-quiz-bg{
 background-color: $quiz-bg;
}

.company-color{
 color: $company-color;
}

.text-left {
  text-align: left;
}

.mr-auto {
  margin-right: auto;
}