@font-face {
 font-family: "SourceSansPro";
 font-weight: 300;
 src: url(../fonts/SourceSansPro-Light.ttf) format("truetype");
}

@font-face {
  font-family: "SourceSansPro";
  font-weight: 500;
  src: url(../fonts/SourceSansPro-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "SourceSansPro";
  font-weight: 600;
  src: url(../fonts/SourceSansPro-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "SourceSansPro";
  font-weight: 700;
  src: url(../fonts/SourceSansPro-Bold.ttf) format("truetype");
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

p {
  font-weight: 500;
}

a { 
  text-decoration: none;
}