$container-width: 1140px;
$tablet: 767px;
$hd-ready: 1441px;

$tablet-lg: 992px;

$white: #FFFFFF;
$black: #000000;

$footer-color: #1E2133;

$btn-color:#29C0CD;

$section-bg: #F9F9F9;
$the-way-title: #BDBDBD;
$quiz-bg: #121026;
$timer-color: #BD3CB5;
$company-color: #29C0CD;
$primary-dark: #101326;
$primary-text: #191919;
