.button-primary {
  background: #DB7315;
  color: white;
  font-weight: 600;
  border: none;
  display: block;
  width: 100%;
  padding: 14px 20px;
  font-size: 14px;
  cursor: pointer;

  &:disabled {
    cursor: unset;
    opacity: 0.5;
  }
}

.button-orange {
  background-color: #DB7315!important;
}