.input {
  width: 100%;
  border: 1px solid #ACACAC;
  height: 46px;
  padding-left: 20px;
  padding-right: 20px;
  color: rgba(0,0,0,0.4);

  &::placeholder {
    color: rgba(0,0,0,0.4);
  }

  &.contact-form {
    padding-left: 53px;
  }
}

.textarea {
  padding-top: 13px;
  resize: none;
  width: 100%;
  border: 1px solid #ACACAC;
  height: 137px;
  color: rgba(0,0,0,0.4);

  &::placeholder {
    color: rgba(0,0,0,0.4);
  }

  &.contact-form {
    padding-left: 53px;
  }
}

.multiselect {
  min-height: 46px;

  .multiselect__select {
    height: 44px;
  }

  .multiselect__tags {
    min-height: 46px;
    border-radius: 0;
    border: 1px solid #ACACAC;

    .multiselect__placeholder {
      padding-top: 4px;
    }

    .multiselect__single {
      padding-top: 4px;
    }
    input {
      font-size: 14px;
      padding-top: 4px;
    }
  }

  .multiselect__option--highlight {
    background: #DB7315;;

    &.multiselect__option--selected {
      background: #DB7315;;
    }
  }
  
}